<section class="sale" id="sale">
    <div class="container">

        <h2 class="sale-title">Sale</h2>

        <div class="sale-product-description">
            <div class="sale-product-photo">
                <ul class="sale-comprehensive-photo">
                    <li class="sale-comprehensive-photo-item">

                        <picture>
                            <source srcset="./img/sale-img1-desk-1x.png x1, ./img/sale-img1-desk-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./img/sale-img1-tab-1x.png 1x, ./img/sale-img1-tab-2x.png 2x"
                                media="(min-width: 768px)" />
                            <source srcset="./img/sale-img1-mob-1x.png 1x, ./img/sale-img1-mob-2x.png 2x"
                                media="(min-width: 375px)" />
                            <img src="./img/sale-img1-mob-1x.png" alt="sale-comprehensive-photo-1" />
                        </picture>

                    </li>

                    <li class="sale-comprehensive-photo-item">

                        <picture>
                            <source srcset="./img/sale-img2-desk-1x.png 1x, ./img/sale-img2-desk-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./img/sale-img2-tab-1x.png, ./img/sale-img2-tab-2x.png 2x"
                                media="(min-width: 768px)" />
                            <source srcset="./img/sale-img2-mob-1x.png 1x, ./img/sale-img2-mob-2x.png 2x"
                                media="(min-width: 375px)" />
                            <img src="./img/sale-img2-mob-1x.png" alt="sale-comprehensive-photo-2" />
                        </picture>

                    </li>

                    <li class="sale-comprehensive-photo-item">

                        <picture>
                            <source srcset="./img/sale-img3-desk-1x.png 1x, ./img/sale-img3-desk-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./img/sale-img3-tab-1x.png 1x, ./img/sale-img3-tab-2x.png 2x"
                                media="(min-width: 768px)" />
                            <source srcset="./img/sale-img3-mob-1x.png 1x, ./img/sale-img3-mob-2x.png 2x"
                                media="(min-width: 375px)" />
                            <img src="./img/sale-img3-mob-1x.png" alt="sale-comprehensive-photo-3" />
                        </picture>

                    </li>

                    <li class="sale-comprehensive-photo-item">

                        <picture>
                            <source srcset="./img/sale-img4-desk-1x.png 1x, ./img/sale-img4-desk-2x.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="./img/sale-img4-tab-1x.png 1x, ./img/sale-img4-tab-2x.png 2x"
                                media="(min-width: 768px)" />
                            <source srcset="./img/sale-img4-mob-1x.png 1x, ./img/sale-img4-mob-2x.png 2x"
                                media="(min-width: 375px)" />
                            <img src="./img/sale-img4-mob-1x.png" alt="sale-comprehensive-photo-4" />
                        </picture>

                    </li>
                </ul>

                <div class="sale-main-photo-box">

                    <picture>
                        <source srcset="./img/sale-img5-desk-1x.png 1x, ./img/sale-img5-desk-2x.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="./img/sale-img5-tab-1x.png 1x, ./img/sale-img5-tab-2x.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/sale-img5-mob-1x.png 1x, ./img/sale-img5-mob-2x.png 2x"
                            media="(min-width: 375px)" />
                        <img class="sale-main-photo" src="./img/sale-img5-mob-1x.png" alt="sale-main-photo" />
                    </picture>

                </div>
            </div>
            <div class="sale-product-characteristic">

                <h3 class="sale-product-character-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>

                <p class="product-tag">Product tag: 706587</p>

                <ul class="sale-price-box">
                    <li class="sale-price">€1500</li>
                    <li class="old-sale-price">€3000</li>
                </ul>

                <p class="sale-product-text">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes
                    materials and features to the next level. The body of the watch is made of very durable Fused Carbon
                    Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by
                    buttons that can be used in any conditions.
                </p>

                <ul class="sale-product-character-list">
                    <li class="sale-product-character-item">Fused carbon fiber </li>
                    <li class="sale-product-character-item">Grade-5 Titanuim</li>
                    <li class="sale-product-character-item">Athlete</li>
                    <li class="sale-product-character-item">Golfer</li>
                    <li class="sale-product-character-item">Commander</li>
                    <li class="sale-product-character-item">Adventurer</li>
                </ul>

            </div>
        </div>
    </div>
</section>