.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.desktop-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
}
.text-back {
  border-radius: 30px;
  width: 335px;
  height: 446px;
  background: #f3f3f3;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.about-us-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 28px;
}
.about-us-text-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
.about-us-text {
  width: 295px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.about-us-btn {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: transparent;
}
.about-us-btn:hover,
.about-us-btn:focus {
  background: #1f3cd4;
}
.about-us-btn-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .desktop-section {
    gap: 40px;
  }
  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .text-back {
    border-radius: 50px;
    width: 704px;
    height: 512px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
  }
  .about-us-name {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 50px;
  }
  .about-us-text {
    width: 584px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }
  .about-us-text-type {
    padding-bottom: 60px;
  }
  .about-us-btn-link {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
  }
  .desktop-section {
    flex-direction: row;
    gap: 40px;
  }
  .about-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .text-back {
    border-radius: 50px;
    width: 580px;
    height: 532px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
  }
  .about-us-name {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 50px;
  }
  .about-us-text {
    width: 460px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }
  .about-us-text-type {
    padding-bottom: 45px;
  }
  .about-us-btn-link {
    padding-bottom: 80px;
  }
}
