body {
    font-family: 'Gilroy', sans-serif;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0c0c0c;
}

p {
    color: rgba(12, 12, 12, 0.7);
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}