body {
    font-family: 'Gilroy', sans-serif;
    background-color: #ffffff;
    max-width: 100%;
    min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0c0c0c;
}

p {
    color: rgba(12, 12, 12, 0.7);
}


@media screen and (min-width: 375px) {
    .container {
        min-width: 375px;
        padding: 0 16px;
        margin: 0 auto;
}
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
            min-width: 1280px;
        }
}