body {
    font-family: 'Gilroy', sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0c0c0c;
}

p {
    color: rgba(12, 12, 12, 0.7);
}

.container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 65px;
        padding-right: 65px;
    }
}