.reviews {
    /* text-align: center; */
    padding: 100px;
    /* background-color: #fff; */
}

.reviews-title {
    margin-bottom: 24px;
    text-align: left;
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    /* margin-left: 0;
    margin-right: 0; */
    padding-left: 0;
    
}

.reviews-section h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.reviews-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 32px 34px;
    margin: 0px;
    text-align: center;
   
}

.review-photo {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    object-fit: cover;
    margin: auto;
}

.review-title-name {
    margin: 8px 0;
    background: #fbfbfb;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
}

.review-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}


/* ---------------------*/

@media (max-width: 767px) {
    
    .reviews-section.container {
        margin-bottom: 0;
    }
    .reviews-list {
        flex-direction: column;
        align-items: center;
    }
    .reviews {
        padding: 60px;
         }
    .review {
        max-width: 100%;
        margin-bottom: 24px;
    }
    .review-photo {
        margin: 0 auto;
    }
    .review-title-name{
        margin-bottom: 8px;
    }
    .review-2 {
        display: none;
    }

    .review-3 {
        display: none;
    }
}


@media (min-width: 768px) {
    .reviews-section.container {
     margin-bottom: 0;
        }
    .reviews-list {
        flex-direction: row;
        align-items: center;
    }
    .reviews{
        padding: 80px;

    }
    .review {
        max-width: 45%;
        margin-bottom: 24px;
    }

    .review-3 {
        display: none;
    }
    .review-photo {
        margin: 0 auto;
    }
    .review-title-name {
        margin-bottom: 8px;
    }
    .reviews-title {
        text-align: left;
    }
}

/* --------------- */

@media (min-width: 1279px) {
   
    .reviews {
       padding: 100px;
         }
    .reviews-list {
        gap: 20px;
    }
    .review {
        max-width: 300px;

    }
    .review-1 {
        display: block;
    }
    .review-2 {
     display: block;
 }

    .review-3 {
     display: block;
 }
}


