/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../fonts/fonts.css');

@import url('./common.css');

@import url('./reset.css');

@import url('./header.css');

@import url('./hero.css');

@import url('./about-us.css');

@import url('./catalog.css');

@import url('./advertisement.css');

@import url('./sale.css');

@import url('./reviews.css');

@import url('./contact-us.css');

@import url('./footer.css');

/* CATALOG */


/* mob */
@media screen and (min-width: 375px) {
  .catalog {
  padding-top: 60px;
  padding-bottom: 60px;
  }

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 20px;
  width: 375px;
  height: 1660px;
  }

.catalog-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 0 237px 24px 20px;
  }

.catalog-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  }

.catalog-list {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  }

.catalog-list-not {
  display: none;
  }

.blok-clock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 24px 28px;
  width: 279px;


  }

.img-clock {
  background: transparent;
  display: block;
  }
.clock-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;  
  width: 279px;
  height: 44px;
}
.clock-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  }

.clock-price {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  }

.catalog-button  {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 40px;
  margin: 0 auto;
  border: none;
  }

.catalog-button-clock {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  border: none;
  }

.catalog-button-clock:hover,
.catalog-button-clock:focus {
  background-color: #1f3cd4;
  }
}


/* tablet */
@media screen and (min-width: 768px) {
.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
  }

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  width: 768px;
  height: 1390px;
  }

.catalog-title{
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 0  527px 40px 0;
  }

.catalog-list-not {
  display: flex;
  }

.catalog-list {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 344px;
  height: 414px;
  background: #f3f3f3;
  }


.catalog-button {
  display: none;
  }

.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  row-gap: 32px;
  width: 704px;
  }

.blok-clock {
  width: 280px;
  height: 366px;
  }

.clock-text {
  width: 280px;
  height: 44px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
.catalog {
  padding-top: 100px;
  padding-bottom: 100px;
  }

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 65px;
  width: 1280px;
  height: 944px;
  }

.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 23px;
  row-gap: 32px;
  width: 1150px;
  height: 860px;
  }

.catalog-title{
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 0  973px 40px 0;
  }

.catalog-list {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 368px;
  height: 414px;
  background: #f3f3f3;
  }

.clock-text {
  width: 304px;
  height: 44px;
  }

.blok-clock {
  width: 304px;
  height: 366px;
  }

.catalog-list-not {
  display: flex;
  }
}